@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'typeface-raleway'; /* Import the font */

body {
  color: #333333;
  background: #C4A484;
  font-family: 'Raleway';
  margin-left: 20%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1024px){

  body {
    margin: 1%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
